# Preprocessing

In [1]:
import pandas as pd

In [2]:
# Load data
orders = pd.read_csv("../data/olist_orders_dataset.csv", parse_dates=['order_purchase_timestamp'])
order_items = pd.read_csv("../data/olist_order_items_dataset.csv")

# Merge kedua data
df = pd.merge(orders, order_items, on='order_id')

# Ambil kolom waktu dan harga
df = df[['order_purchase_timestamp', 'price']]

# Buat kolom revenue harian
df['order_date'] = df['order_purchase_timestamp'].dt.date
daily_revenue = df.groupby('order_date')['price'].sum().reset_index()
daily_revenue.columns = ['date', 'daily_revenue']

# Simpan sebagai csv
daily_revenue.to_csv("../data/daily_revenue.csv", index=False)
daily_revenue.head()

         date  daily_revenue
0  2016-09-04          72.89
1  2016-09-05          59.50
2  2016-09-15         134.97
3  2016-10-02         100.00
4  2016-10-03         463.48